.footer {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border: 0.25px solid black;
}

.footer p {
  color: rgb(34, 110, 147);
  font-size: 26px;
}
