.content {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
}

.background img {
  width: 100%;
}

.background p {
  font-size: 70px;
  color: rgb(34, 110, 147);
  /* color: #fff; */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}

.introduce p {
  font-size: 26px;
  color: rgb(34, 110, 147);
  line-height: 2;
  text-align: left;
  margin-left: 60px;
  /* margin: 20px 0 0 200px; */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid black;
}

.content .wrapper img {
  display: block;
  /* height: 60%;
  width: auto; */
  /* margin: 40px auto; */
}
